@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url("../../public/assets/bg-gradient.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* color: #f7f6fb; */
}